<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-4 text-center text-muted">
                Copyright &copy; M2SP 2021
            </div>
            <div class="col-4 text-muted">
                <div class="row text-center">
                    <div class="col-sm">
                        <a class="lienfooter" href="{{path ('cgu')}}">CGU</a>
                    </div>
                    <div class="col-sm">
                        <a class="lienfooter" href="{{path ('mentionslegales')}}">Mentions légales</a>
                    </div>
                    <div class="col-sm">
                        <a class="lienfooter" href="{{ path ('apropos')}}">A propos</a>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <a class="lienfooter" href="mailto:philippe.favero@gmail.com">Contact</a>
            </div>
        </div>
    </div>
</footer>





