{% extends "base.html.twig" %}

{% block title %}création d'une recette{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <h1>Créer une nouvelle recette</h1>

                {{ form_start(form) }}

                {{ form_widget(form) }}

                <button type="submit" class="btn btn-outline-primary mt-3">Créer la nouvelle rectte</button>

                <a href="{{ path ('recettes_index') }}" class="btn btn-outline-success mt-3">Annuler</a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}